@charset "utf-8";

body, p, input, h1, h2, h3, ul, li, form, hr {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

body {
    font-family: Helvetica, Tahoma, "\5FAE\8F6F\96C5\9ED1";
    color: #333;
    background-color: #f9f8f8;
    font-size: 14px;
    line-height: 1.5;
}

header, section, footer {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 16px;
    font-weight: normal;
}

a {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

a, a:active {
    color: inherit;
}

button {
    outline: 0;
    border: none;
}

button::-moz-focus-inner {
    border: 0;
}

ul, ol, li {
    list-style: none;
}

p, span, a {
    -webkit-user-select: auto;
    -webkit-touch-callout: none;
    color: inherit;
}

em, i {
    font-style: normal;
}

* {
    box-sizing: border-box;
}

img, .img, .default-img {
    border: none;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.default-img {
    background: url("img/default/album.jpg") no-repeat center;
}

.img, .default-img {
    height: 100%;
    background-size: cover;
}

.pic {
    overflow: hidden;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.hidden {
    display: none !important;
}

.cl:before, .cl:after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
}

.block {
    display: block !important;
}

.mgt-5 {
    margin-top: 5px;
}

.mgr-5 {
    margin-right: 5px;
}

.mgl-5 {
    margin-left: 5px;
}

.mgt-10 {
    margin-top: 10px;
}

.c01 {
    color: #999;
}

.c02 {
    color: #f60;
}

.c03 {
    color: #666;
}

.tc {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.fz-11 {
    font-size: 11px;
}

.fz-12 {
    font-size: 12px;
}

/* 圆 */
.circle {
    border-radius: 50%;
    overflow: hidden;
}

/* 文本省略 */
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 遮罩层 */
.masker {
    position: fixed;
    width: 100%;
    height: 200%;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}

.page, .fixed, .pl-masker {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}

.btn, .icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.btn-default, .btn-primary, .btn-primary1 {
    line-height: 1;
    padding: 7px 10px;
    border-radius: 35px;
}

.btn-default, .btn-default:visited {
    border: 1px solid #f60;
    color: #f60;
}

.btn-primary, .btn-primary:visited {
    color: #fff;
    background-color: #f60;
}

.btn-primary1, .btn-primary1:visited {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #f60;
}

.wrapper {
    padding: 0 10px;
}

.wrapper1 {
    padding: 10px 0;
}

.wrapper2 {
    padding: 10px;
}

.wrapper3 {
    padding: 0 20px;
}

hr {
    height: 1px;
    margin-top: 15px;
    border: 0;
    background-color: #e5e5e5;
}
